/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2018, 4:18:47 AM
    Author     : Monirul Islam
*/

.main{min-height: 35em}
.main hr{height: 1px;color: #449d44;border-top: 1px solid #286090;}
.errorMsg{text-align: center;background-color: #FCf8E3;border: .3px dotted #9d9d9d}
.validationMsg{text-align: center;color: #FF4500}
.main h3{text-align: center;color: #286090;padding: 1px}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer{background-color: #A09D93;min-height: 5.6em;color: #1D3575;margin: 5px auto;line-height: 35%;}

#dropdown {
    position: relative;
    display: inline-block;
   
}

.dropdown-content {
    margin-top: 30px;
    border: .5px solid #93958B;
    display: none;
    position: absolute;
    background-color: #D3D3D3;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*    padding: 12px 16px;*/
    z-index: 1;
    
}
.dropdown-content a:hover{text-decoration: none;}

#dropdown:hover .dropdown-content {
    display: block;
    
    padding: auto;
    color: #fff;background-color: whitesmoke;
    
}

#nmc{color: #1D3575;border-left: .5px dotted #D3D3D3}
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}
.menubar ul li a:hover{background-color: #D3D3D3;color: white;overflow: hidden}
/*.menubar{margin-left: 5%;height: 1%;padding: 0;list-style: none}
.menubar ul{list-style: none}
.menubar li{float: left}
.menubar li a{height: 2%;display: block;padding: 10px;text-decoration: none}*/

.footer{}
