/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2018, 4:18:47 AM
    Author     : Monirul Islam
*/

.main{min-height: 35em}
.main hr{height: 1px;color: #449d44;border-top: 1px solid #286090;}
.errorMsg{text-align: center;background-color: #FCf8E3;border: .3px dotted #9d9d9d}
.validationMsg{text-align: center;color: #FF4500}
.main h3{text-align: center;color: #286090;padding: 1px}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer{background-color: #93958B;min-height: 5.5em;color: #1D3575}

#dropdown {
    position: relative;
    display: inline-block;
   
}

.dropdown-content {
    margin-top: 50px;
    
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-content a:hover{text-decoration: none;color: #fff}

#dropdown:hover .dropdown-content {
     background-color: #222222;
    display: block;
}